.section1{
    background-size: cover;
    color:black;
    
}
.nav{
    color:black;
}

.nav ul{
    display:flex;
    padding:20px;
}
.nav ul li{
    padding:10px;
    list-style: none;
    cursor:pointer;

}
.content{
    color:black;
    padding:20px;
}
.programmer{
    border:1px solid black;
    width:30%;
    box-shadow: 10px 10px 30px ;
}