@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Red+Hat+Mono:wght@300&display=swap') ;


.navbar{
    background-color: black;
    height: 70px;
    box-shadow: 0px 5px 5px;
    display:flex;
    justify-content: space-between;
    opacity: 0.6;
}

.title{
    margin:10px;
    color:white;
    font-family:'cursive'
}
.nav{
    float:right;
}
.nav a{
    text-decoration:none;
    color:white;
}
#title{
    color:#B8F1FC;
    text-transform: uppercase;
    font-family: inherit;
}
ul{
    color:white;
    justify-content: flex-end;
    display:flex;

}
ul li {
    padding:20px;
    list-style:none;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Red Hat Mono', monospace;
}

ul li:hover{
    color:#3C62C7
}

/* section2 */
.main{
    display:flex;
    background-color: #C4C4C4;
    position:relative;
    left:250px;
    width:800px;
    align-items: center;
    box-shadow: 10px 10px 20px;
    margin:50px;
}
.image{
    background-color: #C4C4C4;

}

.text{
    background-color: #C4C4C4;
    font-family: 'Red Hat Mono', monospace;
    padding:20px;
    text-align: center;
}
/* section 3 */
.projects{
    margin:50px;
    background-color: black;
    color:white;
}
.items{
    display:flex;
    padding:10px;
    justify-content: space-between;
}
#street{
    box-shadow:5px 5px 5px;
    width:400px;
    padding:10px;
    margin:10px;
}
#street:hover{
    transform:translateY(15px);
    transition:0.7s;
}



/* section4 */
.section4{
    align-items:center;
    margin:50px;
    display:flex;

}
.about{
    background-color: #C4C4C4;
    width:300px;
    text-align: center;
}


.text2{
    background-color: #C4C4C4;
    position:relative;
    left:500px;
    width:270px;
    text-align:center;

    
}
/* contacts */
.contacts{
    background-color:black;
}
.form{
    text-align:center;
    border-radius: 10%;
    margin-left:430px;
    padding:20px;
    width:400px;
    color:white;
    border:2px solid white;
    align-items: center;
}
#email{
    height:50px;
    width:350px;
    margin:20px;
    outline:none;
}
#comment{
    height:100px;
    width:350px;
    margin:20px;
    outline:none;

}
#submit{
    outline:none;
    /* margin-left:150px; */
}
.terms{
    color:white;
}